@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.main-div {
  min-height: 100vh;
  background: #EEF5F0;
  display: flex;
  justify-content: center;
}

.child-div {
  text-align: center;
  margin-top: 12rem;
}

.child-div figure img {
  width: 10rem;
  height: 8rem;
}

.child-div figure figcaption {
  color: #000;
  font-size: 4.2rem;
  padding-top: 2rem;
  text-transform: capitalize;
  font-weight: 900;
}

input {
  /* display: block; */
  min-width: 40rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 22px 11px;

  outline: none;
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}


.todo-btn {
  width: 15%;
  display: flex;
  justify-content: space-around;
}


.showItems {
  margin-top: 30px;
  text-align: center;
}

.showItems-flex {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  text-align: center;

}

.hr-line {
  border-top: 1px solid black;
  width: 103%;
}

.eachItem {
  background: #fff;
  border-radius: 7.5px;
  margin-bottom: 15px;
  min-width: 40rem;
  word-break: break-word;
  background: #F14237;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}

.showItems .eachItem h3 {
  font-size: 16px;
  color: #fff;
}

.showItems-flex .eachItem h3 {
  padding-left: 1rem;
  font-size: 16px;
  color: #fff;

}

.eachItem:hover h3 {
  color: rgb(85, 41, 220);
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  padding: 0px 8px 0px 8px;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
}

.eachitemremove {
  width: 20px;
  cursor: pointer;
  text-align: right;

}

.flexeachitem {
  display: flex;
  justify-content: space-between;

}

.eachitem-bin {
  padding-left: 10px;
  text-align: right;

}

.riDeleteBin6Line {
  width: 20px;
  cursor: pointer;
  text-align: right;
  float: right;

}

.tododadditem {
  width: 20px;

}

.checkbox {
  min-width: 20px !important;
  width: 18px;
  height: 18px;
}

.showname {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  width: 45%;
}

.eachitemfirstrow {

  display: flex;
  justify-content: flex-start;
  width: 65%;
}

.checkboxflex {
  width: 20%;

}